*{
	font-family: "微软雅黑";
}
body{
	background-color: #ddd;
	padding: 0px;
	margin: 0px;
	
}
/*-------------------------------------------*/

header{
	background-color: #444;
	padding: 0px;
	margin: 0px;
}
header img{
	padding: 0 0 0 20px;
}
header ul{
	float: right;
	padding: 0px 10px 0 0;
}
header ul li{
	display: inline-block;
	padding: 0 30px 0 0;
}
header ul a{
	color: #fff;
	text-decoration: none;
}
/*------------------------article4-------------------*/
form{
	font-size: 14px;
}
.tip{
	color: #808080;
	margin-left: 45%;
	/*设置与input相同数值*/
}
.txt{
	width: 45%;
	text-align: right;
	float: left;
	/*设置input对齐：
	设置浮动后，居左，调整宽度*/
}
textarea{
	width: 300px;
	height: 100px;
}
button{
	border: 0px solid blue;
	width: 100%;
	border-radius:20px;
	background-color: #3355d1;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
	color: #fff;
	cursor:pointer;
}
/*------------------------------------------*/
article{
	background-color: #fff;
	width: 90%;
	margin: 30px auto;
	border: 1px solid #cbcbcb;
	box-shadow: 2px 2px 3px black;
	padding: 40px;
}
article div{
	border: 1px solid #ccc;
	padding: 10px;
	margin: 40px;
	width: 200px;
}
article div p{
	text-align: center;
	padding-bottom: 10px;
}
/*--------------------article3---------------*/
article h3,h5{
	color: gray;
}
table td,th{
	border: 1px solid #ccc;
}
table{
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
}
thead th{
	background-color: #333;
	color: #fff;
	text-align: left;

}
tfoot{
	background-color: #ccc;
}

/*---------------------尾部------------------*/
footer{
	height: 66px;
	background-color: #000;
}
footer p{
	font-size: 20px;
	color: #fff;
	line-height: 66px;
	text-align: center;
}
/*----------------------变化-----------------------*/

aside{
	background-color: #fff;
	width: 320px;
	border: 1px solid #cbcbcb;
	box-shadow: 2px 2px 3px black;
	padding: 40px;
	right: 20px;
	margin-left: 920px;
	margin-top: 20px;
	
}
section{
	margin-left: 20px;
	margin-right: 450px;

}
